* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

.App {
  width: 100%;
  margin: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.breaking-news-div {
  color: #ff0000;
  border-top: solid 2px #ff0000;
  box-shadow: 0 -5px 5px -5px #e5e5e5, 0 8px 8px -5px #e5e5e5;
  padding: 10px 15px;
  text-align: left;
  margin-bottom: 15px;
}

.breaking-news-div h5,
p {
  margin: 0 !important;
  letter-spacing: 1.1px;
  font-weight: 400;
}

.breaking-news-div p {
  font-size: 18px;
  padding-top: 10px;
}

.container {
  width: 80%;
  margin: auto;
}

.category-title {
  text-align: left;
  margin-left: 15px;
}

.category-select {
  text-align: left;
  margin-left: 15px;
}

.category-select select {
  font-size: 18px;
  display: inline-block;
  width: 32%;
  margin: 0;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #212121;
  border: 0;
  border: 1px solid #d0d0d0;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: 0;
}

.category-select select option {
  color: #444645;
  background: red;
  /* hover on select */
}

.category-select label {
  font-size: 14px;
  color: #919090;
}

.top-news {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 0.875rem;
  margin-top: 30px;
}

.top-news img {
  width: 95%;
  height: 600px;
  object-fit: cover;
}

.top-article-title {
  width: 80%;
  font-size: 1.75em;
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 10%;
}

.top-article-title a {
  color: #fff;
  text-decoration: none;
}

.top-article-name {
  font-weight: 700;
  color: #000;
  position: absolute;
  bottom: -20px;
  text-align: left;
  background-color: #fff;
  padding: 10px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.top-news-item {
  position: relative;
  flex: 50% 0 0;
  margin-bottom: 30px;
  height: 500px;
}

.news-block {
}

.news-articles {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.news-item {
  flex: 0 0 33.333333%;
  margin-bottom: 30px;
  position: relative;
}

.news-item img {
  width: 95%;
  height: 300px;
  object-fit: cover;
}
/* 
.share-box {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 2%;
  top: 46%;
  text-align: center;
} */

.share-btn i {
  position: absolute;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-title,
.article-description {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  max-width: 375px;
}

.article-title a {
  text-decoration: none;
  color: #000;
  text-align: left;
}

.article-description {
  color: #919090;
  text-align: left;
  margin: 0 15px !important;
}

.article-date {
  color: #919090;
  text-align: left;
  margin-left: 15px !important;
}

.article-date i {
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.share-div {
  overflow: hidden;
}
.share-btn {
  margin: 0;
  font-size: 12px;
  padding: 0;
  border: 0 none;
  cursor: pointer;
  color: #fff;
  width: 60px;
  height: 60px;
  display: block;
  text-transform: none;
  border-radius: 0;
  background-color: #0078e7;
  background-image: none;
  box-shadow: none;
  overflow: hidden;
  position: absolute;
  right: 2.5%;
  top: 47.3%;
}
.one {
  background-color: #ffffff;
  border: 0px solid #fff;
  font-weight: bold;
  color: #888888;
  position: absolute;
  left: 10 !important;
  z-index: 1;
}
.one:hover {
  color: red;
}
.two {
  background-color: #ba0f16;
  color: #ffffff;
  position: absolute;
  left: 10;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.two:hover {
  background-color: #ba0f16;
}
.three {
  background-color: #1d9bf0;
  color: #ffffff;
  position: absolute;
  left: 10;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.three:hover {
  background-color: #1d9bf0;
}
.four {
  background-color: #1c74e4;
  color: #ffffff;
  position: absolute;
  left: 10;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.four:hover {
  background-color: #1c74e4;
}
.five {
  background-color: #3b5997;
  color: #ffffff;
  position: absolute;
  left: 10;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.five:hover {
  background-color: #3b5997;
}

.share-div:hover .two {
  top: 180px;
}
.share-div:hover .three {
  top: 120px;
}
.share-div:hover .four {
  top: 60px;
}
.share-div:hover .five {
  top: 20px;
}

/* NavBar */
nav {
  width: 100%;
  height: 50px;
  display: inline-flex;
  background: #212121;
  color: white;
  box-shadow: 1px 3px 4px #e6e6e6;
  align-items: center;
}

.navigation {
  display: inline-flex;
  align-items: center;
  margin: 0 25px;
}

.brand {
  flex: 1;
  margin: 0 25px;
  text-align: left;
}

.brand img {
  width: 30px;
  display: inline;
  vertical-align: middle;
}

.brand h3 {
  display: inline;
  margin-left: 5px;
  vertical-align: middle;
  font-size: 20px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  list-style: none;
  margin-right: 25px;
}

.menu li a {
  color: inherit;
  text-decoration: none;
  margin: 0 15px;
}

.menu li a:hover {
  text-decoration: underline;
}

.search {
  position: relative;
  padding-bottom: 15px;
  bottom: -7px;
}

.search-input::placeholder {
  color: white;
  opacity: 0.8;
}

.form-container {
  display: flex;
}

.search-input {
  flex: 1;
  height: 0px;
  border: none;
  position: absolute;
  left: -200px;
  visibility: hidden;
  opacity: 0;
  top: 36px;
  background: #212121;
  color: white;
  padding: 6px;
  font-size: 16px;
  outline: none;
  width: 238px;
  transition: 80ms all ease-in;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
}

.search-input input {
  color: #fff;
  outline: none;
  background-color: #212121;
  border-radius: 5px;
  appearance: none;
  border: none;
}

.search-submit {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 10px;
  margin: 0 5px;
  padding: 2px 15px;
}

.search-button {
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-top: 4px;
}

.search-button:hover + .search-input,
.search-input:hover,
.search:hover .search-input {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 9 !important;
  box-shadow: 1px 3px 4px #f1f1f1;
  height: 40px !important;
}

.footer {
  padding: 50px 0;
}

@media (max-width: 998px) {
  .news-item {
    flex: 1 0 50%;
    margin-bottom: 30px;
    position: relative;
  }
}

@media (max-width: 866px) {
  .breaking-news-div p {
    font-size: 14px;
  }

  .top-news {
    display: none;
  }
  .news-articles {
    flex-flow: column;
  }

  .article-title,
  .article-description {
    max-width: 100%;
    text-align: left;
    margin-left: 0;
  }

  .article-title {
    margin: 0 10px;
  }

  .article-date {
    margin-left: 0;
    margin-top: 5px !important;
  }

  .share-btn {
    top: 50.8%;
  }
}
